@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff2"), url("../fonts/Poppins-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
/*! minireset.css v0.0.3 | MIT License | github.com/jgthms/minireset.css */
/* ------------------------------------------- */
/* -- Reset */
/* ------------------------------------------- */
html,
body,
p,
blockquote,
figure,
fieldset,
textarea,
iframe {
  margin: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
embed,
iframe:not(.instagram-media):not(.wp-embedded-content),
object,
audio,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

.footer--footnote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.progress-wrap::after, .banner--wrapper {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* ---------------------- */
/* ------------------------------------------- */
/* -- Colours + Variables */
/* ------------------------------------------- */
/* ------------------------------------------- */
/* -- Placeholders */
/* ------------------------------------------- */
.holder {
  max-width: 1320px;
  margin: 0 auto;
  position: relative;
}
@media (min-width: 1300px) {
  .holder {
    max-width: 1320px;
  }
}

.tab-wrapper .tabs, .footer--footnote, .footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.wp-block-button .wp-block-button__link,
.wp-block-button .wp-element-button, .btn {
  background-color: #15c798;
  color: #ffffff;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 0.6875rem;
  letter-spacing: normal;
  overflow: visible;
  text-decoration: none;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  border: 0.0625rem solid #15c798;
  padding: 0.93rem 2.3rem;
  border-radius: 2rem;
}
.wp-block-button .wp-block-button__link:hover,
.wp-block-button .wp-element-button:hover, .btn:hover {
  background-color: transparent;
  color: #15c798;
}

.btn--block {
  margin: 0.9375rem 0 0;
}
@media (min-width: 768px) {
  .btn--block {
    margin: 1.25rem 0 0;
  }
}
@media (min-width: 768px) {
  .btn--block .btn + .btn {
    margin-left: 1.875rem;
  }
}
@media (max-width: 767px) {
  .btn--block .btn + .btn {
    margin-top: 10px;
  }
}

.w-100 {
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.chromeframe {
  position: absolute;
  top: 0;
  padding: 20px;
  background: #fff;
  color: #666;
}

@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
/* Basics + Fonts
---------------------------------- */
html {
  overflow: unset !important;
}

body {
  background-color: #fafafa;
  color: #a4a0a0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  position: relative;
}
@media (max-width: 767px) {
  body {
    -webkit-overflow-scrolling: none;
  }
}
@media (max-width: 1080px) {
  body.menu-extended {
    overflow: hidden;
  }
}

img {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: auto;
  max-width: 100%;
}

p,
ul,
ol {
  color: #a4a0a0;
  font-family: "Poppins", sans-serif;
  font-size: 0.9375rem;
  font-weight: 300;
  letter-spacing: 0.02em;
  line-height: 155.5%; /* 26.775px */
  margin: 0;
}
@media (min-width: 768px) {
  p,
  ul,
  ol {
    font-size: 1rem;
  }
}
p + p,
p + ul,
p + ol,
ul + p,
ul + ul,
ul + ol,
ol + p,
ol + ul,
ol + ol {
  margin-top: 1.25rem;
}
@media (min-width: 768px) {
  p + p,
  p + ul,
  p + ol,
  ul + p,
  ul + ul,
  ul + ol,
  ol + p,
  ol + ul,
  ol + ol {
    margin-top: 1.5625rem;
  }
}

.holder {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .holder {
    padding-left: 40px;
    padding-right: 40px;
  }
}

/* Headers / Titles
================================= */
h1,
h2,
h3,
h4 {
  line-height: 120%;
}

h1,
h3 {
  font-weight: 400;
}

h2,
h4 {
  font-weight: 300;
}

h1 {
  font-size: 2.25rem;
}
@media (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
  }
}

@media (min-width: 768px) {
  h2 {
    font-size: 3.125rem;
  }
}

h3 {
  font-size: 1rem;
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.875rem;
  }
}

h4 {
  font-size: 1.25rem;
}
@media (min-width: 768px) {
  h4 {
    font-size: 1.5rem;
  }
}

input:focus,
button:focus {
  outline: none;
}

/* Links
================================= */
a {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a:focus {
  outline: none;
}

/* ---------- */
address {
  font-style: normal;
}

.wp-caption {
  margin-top: 40;
  margin-bottom: 40;
  width: auto !important;
}
.wp-caption img {
  display: block;
}

.image-caption {
  padding: 10px 0;
  font-size: 0.875rem;
}

article.post p.wp-caption-text,
.wp-caption-text {
  padding: 10px 0;
  text-align: center;
  margin-bottom: 20;
  font-size: 0.875rem;
}

.alignright {
  display: block;
}
@media (min-width: 768px) {
  .alignright {
    display: inline-block;
    float: right;
    margin: 0 0 20px 30px;
  }
}

.aligncenter {
  display: block;
  margin: 20px auto;
  clear: both;
}
.aligncenter .wp-block-embed__wrapper {
  text-align: center;
}

article a[href$=".jpg"],
article a[href$=".png"],
article a[href$=".gif"] {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

img.size-large {
  display: block;
  margin: 40 0 60 0;
}

.wp-caption.aligncenter {
  text-align: center;
}
.wp-caption.aligncenter > * {
  margin-left: auto;
  margin-right: auto;
}

.text-center {
  text-align: start;
}
@media (min-width: 767px) {
  .text-center {
    text-align: center;
  }
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
          appearance: none;
}

.main--wrapper {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.bg-white {
  background-color: #ffffff;
}

.visible--mobile {
  display: block;
}
@media (min-width: 768px) {
  .visible--mobile {
    display: none;
  }
}

.visible--desktop {
  display: block;
}
@media (max-width: 767px) {
  .visible--desktop {
    display: none;
  }
}

.jarallax {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.overflow-hidden {
  overflow: hidden;
}

.text-start {
  text-align: start;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}
.row > * {
  padding-left: 0.625rem;
  padding-right: 0.625rem;
}

@media (min-width: 768px) {
  .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 768px) {
  .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
}

/* Preloader
-----------------------------------------------------------------*/
body.loaded {
  overflow: hidden !important;
  height: 100% !important;
}

.loader-wrap {
  position: fixed;
  z-index: 10;
  height: 100vh;
  width: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: transparent;
  z-index: 99999999999999;
}
.loader-wrap svg {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 110vh;
  fill: #15c798;
}
.loader-wrap .loader-wrap-heading .load-text {
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 15px;
  text-transform: uppercase;
  z-index: 20;
  color: white;
}
.loader-wrap .loader-wrap-heading .load-text span {
  -webkit-animation: loading 0.8s infinite alternate;
          animation: loading 0.8s infinite alternate;
}
.loader-wrap .loader-wrap-heading .load-text span:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.loader-wrap .loader-wrap-heading .load-text span:nth-child(2) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}
.loader-wrap .loader-wrap-heading .load-text span:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.loader-wrap .loader-wrap-heading .load-text span:nth-child(4) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.loader-wrap .loader-wrap-heading .load-text span:nth-child(5) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.loader-wrap .loader-wrap-heading .load-text span:nth-child(6) {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.loader-wrap .loader-wrap-heading .load-text span:nth-child(7) {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

@-webkit-keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes image-loaded {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes image-loaded {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  66% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  66% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@-webkit-keyframes fadeInn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeInn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@-webkit-keyframes fadeInUp {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
@keyframes fadeInUp {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
}
@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes slideUP {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideUP {
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
.slide-up {
  opacity: 0;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 0.6s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
  transition: all 0.6s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.slide-down {
  opacity: 0;
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
  -webkit-transition: all 0.6s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
  transition: all 0.6s 0.2s cubic-bezier(0.33, 1, 0.68, 1);
}

.fade-in {
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.in-view .slide-down, .in-view.slide-down,
.in-view .slide-up, .in-view.slide-up {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}
.in-view .fade-in, .in-view.fade-in {
  opacity: 1;
}

@-webkit-keyframes leftRight {
  0% {
    -webkit-transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-10px);
  }
  75% {
    -webkit-transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
  }
}
@keyframes leftRight {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
  75% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.header--wrapper {
  display: block;
  min-height: 75px;
  position: relative;
}
@media (min-width: 768px) {
  .header--wrapper {
    min-height: 114px;
  }
}

.header {
  background-color: #ffffff;
  padding: 0.625rem 0;
  position: relative;
  z-index: 99;
  -webkit-transform: translate(0) !important;
      -ms-transform: translate(0) !important;
          transform: translate(0) !important;
  transition: transform 0.8s, -webkit-transform 0.8s;
}
@media (min-width: 768px) {
  .header {
    padding: 0.9375rem 0;
  }
}
@media (min-width: 768px) {
  .header > .holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo h1,
.header__logo h2 {
  line-height: 0;
  margin: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-duration: 0.7s;
          transition-duration: 0.7s;
}
.header__logo h1 a,
.header__logo h2 a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-decoration: none;
  color: #0e1a17;
  font-size: 1.5rem;
  font-weight: 600;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  line-height: 0.6875rem;
}
.header__logo h1 a span,
.header__logo h2 a span {
  color: #15c798;
  margin-left: 0.3125rem;
}
.header__logo img {
  width: 61px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin-right: 0.625rem;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
}
@media (max-width: 767px) {
  .header__right {
    margin-top: 1.25rem;
  }
}
.header.header-sticky {
  left: 0;
  position: fixed;
  -webkit-transform: translateY(-200px) !important;
      -ms-transform: translateY(-200px) !important;
          transform: translateY(-200px) !important;
  width: 100%;
  z-index: 9999;
  transition: transform 0.8s, -webkit-transform 0.8s;
}
.header.header-sticky.header-show {
  -webkit-transform: translateY(0px) !important;
      -ms-transform: translateY(0px) !important;
          transform: translateY(0px) !important;
  left: 0;
  width: 100%;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

.banner--wrapper {
  min-height: 50vh;
  position: relative;
}
@media (max-width: 767px) {
  .banner--wrapper {
    min-height: 55vh;
  }
}
@media (min-width: 810px) and (max-width: 1024px) {
  .banner--wrapper {
    min-height: 60vh;
  }
}

.footer--top {
  padding: 1.25rem 0;
  background-color: #f6f6f6;
}
.footer-widget > ul li a {
  text-decoration: none;
  font-size: 0.8125rem;
  line-height: 0.6875rem;
  color: #a4a0a0;
  font-weight: 600;
}
.footer-widget > ul li + li {
  margin-top: 0.9375rem;
}
.footer-widget_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.25rem;
}
.footer-widget_info a img {
  width: 61px;
}
.footer-widget_info h3 {
  text-decoration: none;
  color: #0e1a17;
  font-size: 1.875rem;
  font-weight: 700;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 0.625rem 0;
}
.footer-widget_info h3 span {
  color: #15c798;
}
.footer-widget_info p {
  font-weight: 400;
  max-width: 28.5rem;
  font-size: 1.125rem;
  padding-bottom: 1.625rem;
}
.footer-widget_info .conatcts ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0.625rem;
}
.footer-widget_info .conatcts ul li {
  color: #000000;
  font-weight: 600;
}
.footer-widget_info .conatcts ul li span {
  display: block;
  color: #15c798;
  font-weight: 600;
  margin-bottom: 0.225rem;
}
.footer-widget.col-lg-6 {
  margin-bottom: 1.875rem;
}
@media (min-width: 768px) {
  .footer-widget.col-lg-6 {
    margin-bottom: 0rem;
  }
}
.footer--bottom {
  padding: 2.5rem 0;
}
.footer--bottom .holder {
  display: grid;
  place-items: center;
}
.footer--footnote {
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer--footnote li {
  margin-top: 1.25rem;
}
@media (min-width: 768px) {
  .footer--footnote li {
    margin-top: 0rem;
  }
}
.footer--footnote li a {
  color: #a4a0a0;
  display: block;
  font-size: 0.8125rem;
  font-weight: 600;
  line-height: 0.6875rem;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.footer--footnote li a::after {
  content: "";
  background-color: #a4a0a0;
  height: 11px;
  position: absolute;
  right: -20px;
  top: 0;
  width: 1px;
}
.footer--footnote li:last-child a::after {
  display: none;
  content: none;
}

h3 {
  font-weight: 700;
  margin-bottom: 0.9375rem;
  font-size: 1.5rem;
  color: #0e1a17;
}
@media (min-width: 768px) {
  h3 {
    font-size: 1.875rem;
  }
}

@media (min-width: 1080px) {
  .holder.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.holder.container article {
  margin-bottom: 1.875rem;
  padding: 1.875rem 0;
}
@media (min-width: 1080px) {
  .holder.container article {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-right: 20px;
    margin-bottom: 0rem;
  }
}
.holder.container article .announcements--wrapper h2 {
  color: #0e1a17;
  font-size: 2.125rem;
  font-weight: 700;
  margin-bottom: 0.625rem;
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
@media (min-width: 768px) {
  .holder.container article .announcements--wrapper h2 {
    font-size: 3.125rem;
  }
}
.holder.container article .announcements--wrapper p {
  font-weight: 400;
  font-size: 0.9375rem;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}
.holder.container article .announcements--wrapper .card {
  margin-top: 2.5rem;
  padding: 1.875rem 1.5625rem;
  border: 0.0625rem solid #e4e4e4;
  border-radius: 3.75rem;
  -webkit-transition-delay: 0.8s;
          transition-delay: 0.8s;
}
@media (min-width: 768px) {
  .holder.container article .announcements--wrapper .card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2.5rem;
  }
}
.holder.container article .announcements--wrapper .card img {
  border-radius: 30px;
  width: 320px;
  -o-object-fit: cover;
     object-fit: cover;
}
.holder.container article .announcements--wrapper .card-info {
  margin-top: 1.25rem;
}
@media (min-width: 768px) {
  .holder.container article .announcements--wrapper .card-info {
    margin-top: 0;
  }
}
.holder.container article .announcements--wrapper .card-info .date {
  font-size: 1.25rem;
  font-weight: 500;
}
.holder.container article .announcements--wrapper .card-info p + p {
  margin-top: 0.625rem;
}
.holder.container article .announcements--wrapper .card + .card {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}
.holder.container aside {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  margin-bottom: 1.875rem;
}
@media (min-width: 1080px) {
  .holder.container aside {
    top: -61px;
    position: relative;
    margin-bottom: 0rem;
  }
}

/* Button scroll up
-----------------------------------------------------------------*/
.progress-wrap {
  position: fixed;
  bottom: 30px;
  right: 30px;
  height: 44px;
  width: 44px;
  cursor: pointer;
  display: block;
  border-radius: 50px;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(20px);
      -ms-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
  mix-blend-mode: difference;
}
.progress-wrap svg {
  vertical-align: middle;
}
.progress-wrap svg path {
  fill: none;
}
.progress-wrap svg.progress-circle path {
  stroke: #ccc;
  stroke-width: 4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}
.progress-wrap.active-progress {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.progress-wrap::after {
  position: absolute;
  content: "";
  background-image: url(../images/UpArrow.svg);
  background-size: contain;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 20px;
  width: 20px;
  cursor: pointer;
  display: block;
  z-index: 1;
  -webkit-transition: all 400ms linear;
  transition: all 400ms linear;
}

/* progress
-----------------------------------------------------------------*/
#progress {
  --scroll: 0%;
  background: -webkit-gradient(linear, left top, right top, from(rgb(0, 143, 105)), color-stop(0, transparent));
  background: linear-gradient(to right, rgb(0, 143, 105) var(--scroll), transparent 0);
  position: fixed;
  width: 100%;
  height: 5px;
  top: 0px;
  z-index: 100;
}

.switch {
  position: relative;
  margin: 3px 0 0 15px;
}

.switch > span {
  position: absolute;
  top: 9px;
  pointer-events: none;
  font-family: "Helvetica", Arial, sans-serif;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  width: 50%;
  text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
  color: #15c798;
}

input.check-toggle-round-flat:checked ~ .on {
  color: #fff;
}

.switch > span.on {
  left: 0;
  padding-left: 2px;
  color: #15c798;
}

.switch > span.off {
  right: 0;
  padding-right: 4px;
  color: #fff;
}

.check-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.check-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

input.check-toggle-round-flat + label {
  padding: 2px;
  width: 100px;
  height: 35px;
  background-color: #15c798;
  border-radius: 60px;
}

input.check-toggle-round-flat + label:before,
input.check-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}

input.check-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #15c798;
  border-radius: 60px;
}

input.check-toggle-round-flat + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 48px;
  background-color: #fff;
  border-radius: 52px;
  -webkit-transition: margin 0.2s;
  transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label:after {
  margin-left: 44px;
}

.timesCard + .timesCard {
  margin-top: 1.875rem;
}
.timesCard h4 {
  margin: 0;
  background-color: #15c798;
  padding: 1.25rem 0;
  border-radius: 2.25rem 2.25rem 0 0;
  text-align: center;
  font-size: 1.125rem;
  color: #ffffff;
  font-weight: 600;
}
.timesCard .bg-white {
  padding: 1.25rem;
  border: 0.0625rem solid #e4e4e4;
  border-radius: 0 0 2.25rem 2.25rem;
  border-top: 0;
}
.timesCard .bg-white p {
  font-size: 0.8125rem;
}

.tab-wrapper {
  display: block;
}
.tab-wrapper .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0.625rem;
  margin-bottom: 0.9375rem;
  border-bottom: 1px solid #a4a0a0;
}
.tab-wrapper .tabs .tab-link {
  list-style: none;
}
.tab-wrapper .tabs .tab-link a {
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9375rem;
  color: #a4a0a0;
}
.tab-wrapper .tabs .tab-link a:hover {
  color: #15c798;
}
.tab-wrapper .tabs .tab-link.active a {
  color: #15c798;
  font-weight: 600;
  font-size: 1.5rem;
}

.content-wrapper {
  margin-top: 0.625rem;
}

.tab-content {
  display: none;
  opacity: 0;
  -webkit-transform: translateY(15px);
      -ms-transform: translateY(15px);
          transform: translateY(15px);
  -webkit-animation: fadeIn 0.5s ease 1 forwards;
          animation: fadeIn 0.5s ease 1 forwards;
}
.tab-content.active {
  display: block;
}

@keyframes fadeIn {
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.rwd-table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
}
.rwd-table tr td {
  color: #0e1a17;
  font-weight: 700;
  font-size: 1.125rem;
  width: 33.33%;
  padding-top: 0.625rem;
}
.rwd-table tr td:nth-child(2) {
  text-align: center;
}
.rwd-table tr td:last-child {
  text-align: end;
}/*# sourceMappingURL=screen.css.map */